* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
  position: relative;
  width: 1600px;
  height: 2348px;

  background: #ffffff;
}

/* LOGO */
.web_logo {
  color: #2196f3;
  line-height: 30.52px;
  font-weight: 700;
  font-family: Raleway;
}
a.logo {
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  line-height: 35.96px;
  letter-spacing: 0.03em;
  font-family: Oleo Script;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

/* NAVbar */
nav {
  /* Las aqua pentru a diferentia de restul div */
  /* background: aqua; */
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  position: absolute;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0, 5px;
}

/* NAV Buttons */
#Portfolio {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
#Contacts {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 653px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
#Studio {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

#mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1097px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

#tel {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1272px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.navbar_btn:hover,
.navbar_btn.active {
  background: none;
  color: #2196f3;
}

/* HEAD */

.head {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.head_title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  /* top: 280px; */
  bottom: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.head_btn {
  position: absolute;
  width: 161px;
  height: 30px;
  left: 720px;
  /* top: 440px; */
  bottom: 210px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  /* top: 430px; */
  bottom: 200px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; 
}

.head_btn:hover,.head_btn.active{
background-color: whitesmoke;
color: #2196f3;
}